<h1>Duomenų įkėlimas</h1>

<form method="post" action="submit">
    <p>
        <label>Pavadinimas</label>
        <input type="text" name="pavadinimas" value="" />
    </p>
    <p>
        <label>Turinys</label>
        <textarea name="turinys"></textarea>
    </p>
    <p>
        <label>Data</label>
        <input type="date" name="data" />
    </p>
    <p>
        <input type="submit" value="Pridėti įrašą" />
    </p>
</form>